# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\sahmj\Documents\DSPT8-Unit-4-ML\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/inspectionProfiles/Project_Default.xml
/misc.xml
/vcs.xml
